@model HomeModel
@{
    ViewData["Title"] = "Painel Master";
}
@if (Model == null || Model.Occupation != "admin" )
{
    <h1>Você não possui permissão para acessar essa página, Somente Administradores são autorizados</h1>
}
else{
    <h1>Bem Vindo ao Painel Principal @Model.Name</h1>
}
